*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #dbd2d2;
    transition:0.3s;
}

body.dark_mode {
    background-color: black;
}


/*------Header------*/

header{
    display:flex;
    background-color: #068a64;
    height: 60px;
    max-height:100px;
    justify-content:center;
    align-items: center;
    transition: all 0.3s;
}


header li a{
    display:inline-block;
    color:#ffffff;
    text-decoration:none;
    font-size: 15px;
    padding-bottom:2px;
    border-bottom: 2px solid transparent;
    padding:13px 15px 4px 15px;
    
}

header ul {

    list-style-type: none;
    display:flex;
    gap:10px;
    align-items:center;

}

header li a:hover{
    color:#000000;
    border-bottom: 2px solid black;
    padding:13px 15px 4px 15px;
}

header li{
    background-color: #00272d;
    border-radius:4px;
}


/*---------------*/

hr{
    justify-items: center;
}

/*---------------*/
/*------Main------*/

main{
    display:flex;
    flex-direction: column;
    align-items: center;
}


/*----------------*/

.virgil {
    
    display: flex;
    justify-content: center;
    height: 75px;
    margin:20px;
    
}

.virgil img{

    height:100px;
    border-radius:10px;

}

/*------Div Biografia------*/
.biografia h1{
    font-family:"Press Start 2P",system-ui;
    font-weight: 400;
    font-style:normal;
    padding-left: 20px;
    font-size:30px;
    color:#00272d;
}

.biografia p{
    padding-left:20px;
    font-family:"Righteous", sans-serif;
    font-weight: 400;
    font-style:normal;
    text-align: left;
    font-size:18px;
    color:#00272d;
}

.biografia{
    display:flex;
    justify-content: center;
    padding:20px;
    margin:15px;
    background-color: #000000;
    border-radius:15px;
    width: 80%;
    border:solid 2px #00272d;
    flex-direction: column;
    gap:5px;
}
/*-------------------------*/

/*------------Tecnologias--------------*/

.tecbrabas{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
}

.iconebrabas{
    display:flex;
    flex-direction: row;
}

.tecbrabas h1{
    text-align: left;
    margin-bottom:20px;
}

.tecbrabas img{
    width: 50px;
    height: 50px;
}


/*-------------------------------------*/

/*---------------"A"-------------------*/


/*--------------------------------------/